<style>
    /* Usable variables */
    :root {
        --primary-clr: #607D8B;
        --secondary-clr: #FF9800;
        --accent-clr: #03A9F4;
        --bg-clr: #eceff1;
        --white-clr: #fff;
        --black-clr: #000;
        --grey-clr: #808080;
        --ff-headline: 'Poppins', sans-serif;
        --ff-body: 'Open Sans', sans-serif;
    }

    *, *::after, *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #logout-button {
        border: none;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        padding: 5px;
        height: 100%;
        background-color: transparent
    }
</style>
@if (User.Identity!.IsAuthenticated)
{
    <form method="get" asp-page="/Account/Logout">
        <button type="submit" value="Logout" id="logout-button">
            Log out
        </button>
    </form>
}